nav {
  display: flex;
  flex-direction: column;
  width: 3rem;
  position: fixed;
  left: 0;
  top: 5rem;
  padding: 2rem;
  height: 100%;
  z-index: 1;
}

nav>a {
  background-color: transparent;
  border: none;
  padding: 0;
  text-align: left;
  margin: 1rem 0;
}

nav>a>svg {
  fill: var(--gray);
  transition: fill 150ms;
  height: 2rem;
  width: 2rem;
}

nav>a:hover>svg {
  fill: var(--selected);
}

.selectedNav>svg {
  fill: var(--selected);
}

@media (max-width: 700px) {
  nav {
    padding: 0.5rem;
    flex-direction: row;
    justify-content: space-around;
    top: 3rem;
    width: 100%;
    height: 3rem;
    background-color: var(--background);
    padding: 1rem 0;
  }
  nav>a {
    text-align: center;
  }
}