.genreCard {
    position: relative;
    width: 18rem;
    height: 8rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0.5rem;
    outline-width: 0;
    outline-style: solid;
    transition: outline 100ms;
}

.genreCard:hover {
    outline-width: 4px;
    cursor: pointer;
}

.genreCard > img {
    position: absolute;
    z-index: -1;
    width: 100%;
    object-fit: cover;
    opacity: 50%;
}

.genreCard > p {
    color: white;
    font-weight: bold;
    font-size: larger;
}